# .gitignore for AndroidStudio projects (V1.2)
# (tested AndroidStudio 3.2.1)
#
# Save this as `.gitignore` in the root directory of your repository or project.
# ------------------------------------------------------------------------------

# if you want to upload the .apk as well, add the additional .gitignore in "app" directory,
# otherwise uncomment this:
# /app/build

# android studio project files
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/caches/build_file_checksums.ser
/.idea/modules.xml

# mac stuff
.DS_Store

# ignore the build (binaries)
/build
/captures
.externalNativeBuild

