<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.ac.tuwien.ims.clotheslinestorm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="at.ac.tuwien.ims.clotheslinestorm.IntrovideoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="at.ac.tuwien.ims.clotheslinestorm.MainActivity" />
        <activity android:name="at.ac.tuwien.ims.clotheslinestorm.GameActivity" />
        <activity android:name="at.ac.tuwien.ims.clotheslinestorm.HelpActivity" />
        <activity android:name="at.ac.tuwien.ims.clotheslinestorm.HighscoreActivity" />
        <activity
            android:name="at.ac.tuwien.ims.clotheslinestorm.GameOverActivity"
            android:label="@string/title_activity_game_over"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="at.ac.tuwien.ims.clotheslinestorm.GameWonActivity"
            android:label="@string/title_activity_game_won"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="at.ac.tuwien.ims.clotheslinestorm.Levels"></activity>
    </application>

</manifest>